
@{
    ViewBag.Title = "error";
}
@section Body{
    <div class="starter-template">
        <h1>ERROR 404</h1>
        <p class="lead">Looks like this page is missing.<br>Probably, you shouldn't be here.</p>
        <a href="@Url.Action("All", "Book")" class="btn btn-outline-info"><b>Go home</b></a>
    </div>
}
