@{
    ViewBag.Title = "About";
}
@section Body{
    <div id="content_inner">

        <!-- ***** Out team + portraits ***** -->

        <h3>About</h3>

        <p class="teamline">A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to several million items. In Latin and Greek, the idea of a bookcase is represented by Bibliotheca and Bibliothēkē (Greek: βιβλιοθήκη): derivatives of these mean library in many modern languages, e.g. French bibliothèque.</p>


        <hr class="cleanit">


        <h3>Contact information</h3>

        <div class="contactinfo">
            <span class="ico_mapmark"><b>15th Avenue, 15 362, San Francisco</b></span>
        </div>

        <div class="contactinfo">
            <span class="ico_message"><b>cats@ninatheme.com</b></span>
        </div>

        <div class="contactinfo">
            <span class="ico_iphone"><b>(+123) 456 789 012</b></span>
        </div>

        <hr class="cleanit">
        <div class="mapit">
            <iframe width="938" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=san+f&amp;sll=37.0625,-95.677068&amp;sspn=45.553578,93.076172&amp;ie=UTF8&amp;hq=&amp;ll=37.77493,-122.419416&amp;z=14&amp;output=embed"></iframe>
        </div>
    </div>
}
