@{
    ViewBag.Title = "About";
}
@section Body{
    <div id="content_inner">


        <h3>About</h3>

        <p class="teamline">
            Why You Should Read Manga Online at [this_site_name]?
        </p>

        <p class="teamline">
            There are many reasons you should read Manga online, and if you are a fan of this unique storytelling style then learning about them is a must. One of the biggest reasons why you should read Manga online is the money it can save you. While there's nothing like actually holding a book in your hands, there's also no denying that the cost of those books can add up quickly. So why not join the digital age and read Manga online? Another big reason to read Manga online is the huge amount of material that is available. When you go to a comic store or other book store their shelves are limited by the space that they have. When you go to an online site to read Manga those limitations don't exist. So if you want the best selection and you also want to save money then reading Manga online should be an obvious choice for you.
        </p>


        <hr class="cleanit">


        <h3>Contact information</h3>

        <div class="contactinfo">
            <span class="ico_mapmark"><b>Sumska St, 22, Kharkiv, Kharkiv Oblast, Ukraine, 61 000</b></span>
        </div>

        <div class="contactinfo">
            <span class="ico_message"><b>ttrianon8@gmail.com</b></span>
        </div>

        <div class="contactinfo">
            <span class="ico_iphone"><b>(+123) 456 789 012</b></span>
        </div>

        <hr class="cleanit">
        <div class="mapit">
            <iframe width="938" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Sumska%20St%2C%2022%2C%20Kharkiv%2C%20Kharkiv%20Oblast%2C%20Ukraine%2C%2061000&key=AIzaSyCX1dTj44HckpGQtyWa9u8_tI5U8kGMFMQ"></iframe>
        </div>
    </div>
}
