@model EpamLibrary.WEB.Models.IndexViewModel<BookViewModel>
@using EpamLibrary.WEB.Models.BookVM
@{
    ViewBag.Title = "Welcome";
}
@section Body{
    @if (User.Identity.IsAuthenticated && (User.IsInRole("banned") || User.IsInRole("deleted")))
    {
        <div class="starter-template">
            <h1 class="text-danger">Looks like your account has been banned or deleted</h1>
            <a href="@Url.Action("All", "Book")" class="btn btn-outline-secondary"><b>Go home</b></a>
        </div>
    }
    else
    {
        <div class="starter-template">
            <h1>Welcome to our Library</h1>
            <p class="lead">Here you <b>always</b> can find something interesting for you<br>Just press this button to start your journey</p>
            <a href="@Url.Action("All", "Book")" class="btn btn-outline-warning"><b>Bring it on!</b></a>
        </div>
    }
}
