@{
    ViewBag.Title = "Success Register";
}
@section Body{
    <div class="starter-template">
        <h1>Registration succesfull</h1>
        <p class="lead">Welcome to our library!</p>
        <a href="@Url.Action("All", "Book")" class="btn btn-outline-warning"><b>Go to books</b></a>
    </div>
    }